!!! 5
%html
  %head
    %title Schlurp
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag
    - if @twitter_profile && @twitter_profile.profile_background_image_url
      :css
        body { background-image: url(#{@twitter_profile.profile_background_image_url}) !important; }
  %body
    - flash.each do |key, value|
      = content_tag :div, value, :class => "flash #{key}"
    = yield
